POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=helptech
POSTGRES_PASSWORD=helptech123
POSTGRES_DB=helptech_os
JWT_SECRET=helptech_secret_dev
AUTH_SERVICE_URL=http://auth-service:8001
CLIENTE_SERVICE_URL=http://cliente-service:8002
ORDEM_SERVICE_URL=http://ordem-service:8003
FINANCEIRO_SERVICE_URL=http://financeiro-service:8004
